In [30]:
import pandas as pd 
import seaborn as sns 
import numpy as np 
import matplotlib.pyplot as plt 
from tqdm import tqdm 
import warnings
warnings.filterwarnings('ignore')

In [31]:
### Данные по пользователям
query_user_info = """
    select * 
    from public.user_data
"""
con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml"
user_info = pd.read_sql(query_user_info, con=con)
user_info.head()

   user_id  gender  age country               city  exp_group       os source
0      200       1   34  Russia          Degtyarsk          3  Android    ads
1      201       0   37  Russia             Abakan          0  Android    ads
2      202       1   17  Russia           Smolensk          4  Android    ads
3      203       0   18  Russia             Moscow          1      iOS    ads
4      204       0   36  Russia  Anzhero-Sudzhensk          3  Android    ads

In [32]:
### Данные по постам
query_post_text_df = """
    select * 
    from public.post_text_df
"""
post_text_df = pd.read_sql(query_post_text_df, con=con)
post_text_df.head()

   post_id                                               text     topic
0        1  UK economy facing major risks\n\nThe UK manufa...  business
1        2  Aids and climate top Davos agenda\n\nClimate c...  business
2        3  Asian quake hits European shares\n\nShares in ...  business
3        4  India power shares jump on debut\n\nShares in ...  business
4        5  Lacroix label bought by US firm\n\nLuxury good...  business

In [33]:
### Данные по постам и пользователям 
feed_data = pd.read_sql(
    """SELECT * FROM public.feed_data LIMIT 100000""",
    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)

feed_data.head()

            timestamp  user_id  post_id action  target
0 2021-12-24 16:40:24    28037     5157   view       0
1 2021-12-24 16:43:23    28037     4621   view       1
2 2021-12-24 16:45:41    28037     4621   like       0
3 2021-12-24 16:45:43    28037     2777   view       0
4 2021-12-24 16:47:58    28037     4958   view       0

In [34]:
feed_data = feed_data[feed_data['action'] == 'view']
feed_data.head()

            timestamp  user_id  post_id action  target
0 2021-12-24 16:40:24    28037     5157   view       0
1 2021-12-24 16:43:23    28037     4621   view       1
3 2021-12-24 16:45:43    28037     2777   view       0
4 2021-12-24 16:47:58    28037     4958   view       0
5 2021-12-24 16:49:38    28037     3136   view       0

In [35]:
#### Feature engineering from table post_text_df
import re 
import string 

from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

wnl = WordNetLemmatizer()

def preproccesing(line, token=wnl): 
    line = line.lower()
    line = re.sub(r'[{}]'.format(string.punctuation), " ", line)
    line = line.replace('\n\n', ' ').replace('\n', ' ')
    line = ' '.join([token.lemmatize(x) for x in line.split(' ')])
    return line 
tfidf = TfidfVectorizer(
    stop_words='english', 
    preprocessor=preproccesing
)

In [36]:
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')
tfidf_data = (
    tfidf
    .fit_transform(post_text_df['text'])
    .toarray()
)
tfidf_data

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/tsyrdugar/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/tsyrdugar/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.13273932, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.05061394, 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [37]:
tfidf_data = pd.DataFrame(
    tfidf_data, 
    index=post_text_df['post_id'], 
    columns=tfidf.get_feature_names_out()
)
tfidf_data.head()

,00,000,0001,000bn,000m,000s,000th,001,001and,001st,...,𝓫𝓮,𝓫𝓮𝓽𝓽𝓮𝓻,𝓬𝓸𝓾𝓻𝓽𝓼,𝓱𝓮𝓪𝓻𝓲𝓷𝓰,𝓶𝓪𝔂,𝓹𝓱𝔂𝓼𝓲𝓬𝓪𝓵,𝓼𝓸𝓸𝓷𝓮𝓻,𝓼𝓾𝓫𝓸𝓻𝓭𝓲𝓷𝓪𝓽𝓮,𝓽𝓱𝓮,𝓽𝓸
post_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.132739,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.050614,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#### Генерируем фичи на основе TfIdf 

post_info = post_text_df.copy()
post_info['TotalTfIdf'] = tfidf_data.sum(axis=1).reset_index()[0]
post_info['MaxTfIdf'] = tfidf_data.max(axis=1).reset_index()[0]
post_info['MeanTfIdf'] = tfidf_data.mean(axis=1).reset_index()[0]

post_info.head()

In [ ]:
[f"DistanceTo{ith}thCluster" for ith in range(1, 16)]

In [ ]:
### Кластеризуем тексты 
from sklearn.decomposition import PCA

centered = tfidf_data - tfidf_data.mean()
pca = PCA(n_components=20)
pca_decomp = pca.fit_transform(centered)

from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=15, random_state=0).fit(pca_decomp)

post_info['TextCluster'] = kmeans.labels_

dist_columns = [f"DistanceTo{ith}thCluster" for ith in range(1, 16)]

dists_df = pd.DataFrame(
    data=kmeans.transform(pca_decomp), 
    columns=dist_columns
)

dists_df

In [ ]:
post_info = pd.concat((post_info, dists_df), axis=1)
post_info.head()

In [ ]:
df = pd.merge(
    feed_data, 
    post_info, 
    how='left', 
    on='post_id'
)
df = pd.merge(
    df, 
    user_info, 
    how='left', 
    on='user_id'
)

In [ ]:
df['hour'] = df['timestamp'].apply(lambda x: x.hour)
df['month'] = df['timestamp'].apply(lambda x: x.month)

df = df.drop(['text', 'action'], axis=1)
df = df.set_index(['user_id', 'post_id'])

In [ ]:
### Предлагаю начать с относительно простой модели
### Например, с решающего дерева
### А потом посмотреть уже в сторону бустингов

### Как валидировать? Как разобьем на train и test?
### Предлагаю по времени, так как данные имеют 
### Временную структуру! Хотим корректно оценивать
### Вероятности для будущих рекомендаций

max(df.timestamp), min(df.timestamp)

In [ ]:
df_train = df[df['timestamp'] < '2021-12-15']
df_test = df[df['timestamp'] >= '2021-12-15']

df_train = df_train.drop('timestamp', axis=1)
df_test = df_test.drop('timestamp', axis=1)

X_train = df_train.drop('target', axis=1)
X_test = df_test.drop('target', axis=1)

y_train = df_train['target']
y_test = df_test['target']

print(y_train.shape, y_test.shape)

In [ ]:
### Random Forest 

from sklearn.compose import ColumnTransformer
from category_encoders import TargetEncoder
from category_encoders.one_hot import OneHotEncoder

object_columns = [
    'topic', 'country', 'city', 'os',
    'source', 'TextCluster', 'hour', 'month', 
    'exp_group', 'gender'
]

columns_for_ohe = [x for x in object_columns if X_train[x].nunique() < 5]
columns_for_mte = [x for x in object_columns if X_train[x].nunique() >= 5]

In [ ]:
columns_for_ohe_idx = [list(X_train.columns).index(col) for col in columns_for_ohe]
columns_for_mte_idx = [list(X_train.columns).index(col) for col in columns_for_mte]

In [ ]:
t = [
    ('OneHotEncoder', OneHotEncoder(), columns_for_ohe_idx), 
    ('MeanTargetEncoder', TargetEncoder(), columns_for_mte_idx)
]
columns_transform = ColumnTransformer(transformers=t)

In [ ]:
columns_transform

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline

pipe_dt = Pipeline([('column_transformer', 
                    columns_transform), 
                    
                    ('decision_tree', 
                    DecisionTreeClassifier())
                   ])

pipe_dt.fit(X_train, y_train)

In [ ]:
### Замерим качество работы такой модели
### Возьмем ROC-AUC

from sklearn.metrics import roc_auc_score

print(f'Качество на трейне: {roc_auc_score(y_train, pipe_dt.predict_proba(X_train)[:, 1])}')
print(f'Качество на тесте: {roc_auc_score(y_test, pipe_dt.predict_proba(X_test)[:, 1])}')

In [ ]:
### CatBoost

from catboost import CatBoostClassifier

catboost = CatBoostClassifier(iterations=100, 
                             learning_rate=1, 
                             depth=2)

catboost.fit(X_train, y_train, object_columns)

In [ ]:
print(f'Качество модели на трейне: {roc_auc_score(y_train, catboost.predict_proba(X_train)[:, 1])}')
print(f'Качество модели на тесте: {roc_auc_score(y_test, catboost.predict_proba(X_test)[:, 1])}')

In [ ]:
### Из любопытства посмотрим на feature_importance 

import seaborn as sns 
import numpy as np 
import matplotlib.pyplot as plt 

def plot_feature_importance(importance, names, model_type): 
    feature_importance = np.array(importance)
    feature_names = np.array(names)
    
    data = {'feature_importance': feature_importance, 
           'feature_names': feature_names}
    
    fi_df = pd.DataFrame(data)
    
    fi_df.sort_values(by='feature_importance', ascending=False, inplace=True)
    
    plt.figure(figsize=(10, 8))
    sns.barplot(x=fi_df['feature_importance'], y=fi_df['feature_names'])
    plt.title(model_type + 'FEATURE IMPORTANCE')
    plt.xlabel('FEATURE IMPORTANCE')
    plt.ylabel('FEATURE NAMES')
    
plot_feature_importance(catboost.feature_importances_, X_train.columns, 'Catboost')

In [ ]:
catboost.save_model('catboost_model', format='cbm')

In [ ]:
pd.read_sql("""select * from public.posts_info_features""",         
            con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
            "postgres.lab.karpov.courses:6432/startml")

In [ ]:
post_info